<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li><a>TA-DAH!</a>
                <!--<p>Celebrating the magic of getting shit done.</p>-->
            <li><a href="#home">Home</a></li>
            <li><a href="#taskForm">Task</a></li>
            <li><a href="#lists">List</a></li>
            <li><button id="logIn">Log In</button></li>
            <li><button id="join">Join Free</button></li>
        </ul>
    </div>
</div>