<h3>What would you like to accomplish?</h3>
<div class="row">
    <!--<div class="">-->
<form id="task-assigner">

    <label for="new_task">New Task: </label>
    <input type="text" placeholder="Task" ng-model="task" id="new_task" /><br>

    <label for="time">Time: </label>
    <input type="text" placeholder="Time" ng-model="time" id="time" /><br>

    <label for="date">Date: </label>
    <input type="date" placeholder="Date" ng-model="date" id="date" /><br>

    <button ng-click="saveTask()" id="do-button" >ADD</button>
</form>
</div>
<!--</div>-->